.logo{
    width: 100px;
height: 40px;
left: 39px;
top: -2px;
}

.nav-text{
    color:red !important;
   
}
.nav-top{
  
}

.nav-btn{
border:2px solid #F82F2F !important;
border-right:none;
font-family: Roboto;
font-style: normal;
font-weight: bold;
padding:5px 20px;
background:white;
}

.dropdown-menu{
    width:300px !important;
    margin:auto auto !important;
    border-radius: 5% !important;
}
.dropdown-item:hover{
    background-color: white !important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(232, 215, 215, 0.3)!important;
    color: black !important;
    border-radius:8% !important
}
.get{
    width: 250px;
height: 100px;
background: rgba(232, 215, 215, 0.3);
padding:5%;
border-left:2px solid  #FF4E23;
}
.get-p{
    width: 200px !important;
}
.get-btn{
    background: #2F2C2C;
    width: 250px;
    color: #FF4E23;
    height:40px;
}
