
.nav-link{
    color: rgba(199, 187, 187, 1)!important;
}
.nav-link:active{
    color:white !important
}
.nav-link:focus{
    color:white !important
}

.left-sm-box-course{
    background: #272626;
box-shadow: 0px 4px 4px rgba(111, 105, 105, 0.25);
border-radius: 7px;
color: #EEE8E8;

margin-top: 20px;
}

.left-course-sm-row{
    /* margin: 13%; */
    padding:4%;
    margin:5px;
    cursor: pointer;
    color:white;
    text-decoration: none !important;
    transition: .5s;
}
.left-course-sm-row:hover{
    border-left: 2px solid red;
    background-color:#524C4C;
    text-decoration: none;
}
.left-course-sm-row:focus{
    border-left: 2px solid red;
    background-color:#524C4C;

}

.left-course-sm-row:active{
    border-left: 2px solid red;
    background-color:#524C4C;
}


.progress-btn{
    width:80px;
   padding:5px 10px;
   background: #FF4E23;
   margin:38% !important;
   margin-bottom:20px;
   color:white;
   text-decoration: none;

}

.featured-line{
    height:7px;
    width:100px
}
.hr{
    height:7px;
    margin-top: -0.6rem;
}
*{
    text-decoration: none;
}
