.login-nav{
    background-color:rgba(39, 37, 37, 1);

}

.search-nav{
    width:400px !important;

}
.login-nav-btn{
    background-color: rgba(39, 37, 37, 1);
    border:none !important;
    ;
}
.login-nav-btn:active{
    background-color:black;
    background-color:#FF4E23;
}
.login-nav-btn:focus {
    background-color: #FF4E23;
  }
.login-nav-a{
    color:white !important;
}
.login-search-input{
    height:55px;
}
.login-box{
    border: 0.9px solid #5E4545;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    height:50px;
    margin-top: 8px;
}
.login-box-text{
    margin:auto auto ;
    margin-left:40px;
}
.login-box-icon{
    width: 50px;
    padding:8px;
    margin-left: 20px;
}
.left-box-login{
    padding-top: 100px;
}
.line1{
    width: 150px;
    height: 2.5px;
   
}
.line-1-div{
    margin-top: 8px;
}
.login-box-input{
    border: 0.9px solid #5E4545;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    height:50px;
    margin-top: 8px;
    padding:8px;

}
.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    color: red;
    margin-top: 8px;
    margin-left: 40px
  }
  .checkbox-text{
      font-size:15px;
      margin:auto auto;
      margin-left: 25px !important;
      
  }
  .btn-submit{
    background-color: #FF4E23;
    color:white;
    border:none;
    border-radius: 3px;
  }
.forgot{
    font-size:15px;
    margin-top: 8px;
    color:#FF4E23 !important;
}
.signup-dont{
    color:#FF4E23 !important;
    text-decoration: none;
}
.dont{
    text-align:center;
}

.login-img{
   
    width:100%;
}
.login-second-div{
    width: 400px;
    margin:auto auto;
    padding:5%;
    padding-top: 100px;
}


/* register part */


.left-sm-box{
    border: 0.5px solid #5E4545;
box-sizing: border-box;
border-radius: 8px;
width: 80px;
height: 90px;
text-align: center;
margin-left: 9px;
}
.left-img{
    width: 40px;
    /* margin-left: 30px ; */
    margin-top: 10px;
}
.left-img-text{
    font-size:10px;
    font-weight:700;
}
.left-top-text{ 
font-family: Gotham;
font-style: normal;
font-weight: bold;
font-size: 21px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
color: #6E6363;
padding-top: 60px;
padding-left: 2%;
}

.reg-box-input{
    background-color:rgba(242, 242, 239, 0.5);
    border-radius: 2px;
}

.reg-right-img{
   width:89%;
   padding:30px;
   padding-top: 80px;
}